In [2]:
lista = []
data1 = {"Nombre": "Rene", "Apellido": "Elizalde", "Edad": 30}
data2 = {"Nombre": "Francisco", "Apellido": "González", "Edad": 19}
data3 = {"Nombre": "Lilibeth", "Apellido": "Puchaicela", "Edad": 23}
data4 = {"Nombre": "Nixon", "Apellido": "Vuele", "Edad": 19}

In [3]:
lista.append(data1)
lista.append(data2)
lista.append(data3)
lista.append(data4)

In [4]:
print(lista)

[{'Nombre': 'Rene', 'Apellido': 'Elizalde', 'Edad': 30}, {'Nombre': 'Francisco', 'Apellido': 'González', 'Edad': 19}, {'Nombre': 'Lilibeth', 'Apellido': 'Puchaicela', 'Edad': 23}, {'Nombre': 'Nixon', 'Apellido': 'Vuele', 'Edad': 19}]

In [5]:
for i in lista:
    print(i)

{'Nombre': 'Rene', 'Apellido': 'Elizalde', 'Edad': 30}
{'Nombre': 'Francisco', 'Apellido': 'González', 'Edad': 19}
{'Nombre': 'Lilibeth', 'Apellido': 'Puchaicela', 'Edad': 23}
{'Nombre': 'Nixon', 'Apellido': 'Vuele', 'Edad': 19}

In [7]:
for i in lista:
    print(i["Edad"])

30
19
23
19

In [9]:
suma = 0
for i in lista:
    suma = suma + i["Edad"]
print(suma)

91

In [10]:
lista2 = [1,2,3]
sum(lista2)

6

In [19]:
lista3 = []
for i in lista:
    lista3.append(i['Edad'])
lista3

[30, 19, 23, 19]

In [21]:
sum(lista3)

91

In [23]:
lista4 = [i['Edad'] for i in lista]
sum(lista4)

91

In [25]:
sum(i['Edad'] for i in lista)

91