# Uso de Dataframe en Pandas
##### https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [4]:
import pandas as pd

In [5]:
mi_df = pd.DataFrame({'a': [11,12,13], 'b': [21,22,23]})
print(mi_df)

    a   b
0  11  21
1  12  22
2  13  23

In [6]:
data = {'provincia': ['Loja', 'Pichincha', 'Guayas'],
        'capital' : ['Loja', 'Quito', 'Guayaquil'],
        'zona'  : [7, 8, 1]}
frame = pd.DataFrame(data) # Creando un DataFrame desde un diccionario
frame

   provincia    capital  zona
0       Loja       Loja     7
1  Pichincha      Quito     8
2     Guayas  Guayaquil     1

In [7]:
frame.keys()

Index(['provincia', 'capital', 'zona'], dtype='object')

In [9]:
frame.shape #Dimensiones del frame

(3, 3)